.itemDetails-main {
  background-color: #F5F5F5;
  width: 100%;
  display: flex;
  justify-content:center;
}

.itemDetails-container {
  background-color: #FFF;
  width: 40%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.itemDetails-container__header {
  width: 95%;
  margin: 0 auto;
}

.itemDetails-container__header p {
  width: 100%;
  text-align: center;
  line-height: 5vh;
  font-size: 20px;
  font-weight: bold;
  word-break: keep-all;
}

.itemDetails-container__main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content:flex-start;
}

.itemDetails-container__main p {
  display: inline;
  margin-right: 10px;
}

.itemDetails-container__main__left {
  height: 420px;
  width: 300px;
  margin-right: 20px;
  background-color: #FAFAFA;
}

.itemDetails-container__main__left__image img{
  height: 300px;
  width: 300px;
}

.itemDetails-container__main__right {
  height: 420px;
  width: 45%;
}

.itemDetails-container__main__right__table {
  height: 100%;
  width: 100%;
}

.itemDetails-container__main__right__table table {
  height: 100%;
  width: 100%;
}

.itemDetails-container__main__right__table tr {
  border: 1px solid #F5F5F5;
}

.itemDetails-container__main__right__table th {
  width: 45%;
  background-color: #FAFAFA;
}

.itemDetails-container__main__right__table .exhibitor {
  height: 15%;
}

.itemDetails-container__main__right__table .category {
  height: 15%;
}

.itemDetails-container__main__price {
  height: 5vh;
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.itemDetails-container__main__price--price {
  font-size: 50px;
}

.itemDetails-container__main__price--tax {
  font-size: 10px;
}

.itemDetails-container__main__price--postage {
  font-size: 16px;
}

.itemDetails-container__main__btn {
  height: 5vh;
  background-color: #E82B24;
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

.itemDetails-container__main__btn a {
  color: #FFF;
  font-size: 24px;
  line-height: 5vh;
}

.itemDetails-container__main__explanation {
  margin-top: 20px;
}